<ng-template #toolbar>
  <div nz-row nzGutter="16">
    <div nz-col nzFlex="1">
      <h1 class="todo-list-title">待辦列表</h1>
    </div>
    <div nz-col>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input
          type="text"
          nz-input
          placeholder="按待辦的名稱搜索"
          [ngModel]="titleSearchString$ | async"
          (ngModelChange)="toUpdateTitleSearchString($event)"
        />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>
    <div nz-col>
      <button nz-button nzType="primary" (click)="toOpenEditor()">
        創建待辦
      </button>
    </div>
  </div>
</ng-template>

<div class="todo-container">
  <nz-list class="demo-loadmore-list" [nzHeader]="toolbar">
    <nz-list-item *ngFor="let item of list$ | async; index as i">
      <ng-container>
        <nz-list-item-meta [nzDescription]="(i + 1).toString() + '.'">
          <nz-list-item-meta-title
            [class]="{ 'todo-item-done': item.done, 'todo-item': true }"
            (click)="toToggleTodo(item.id)"
          >
            {{ item.title }}
          </nz-list-item-meta-title>
        </nz-list-item-meta>
        {{ item.description }}
        <ul nz-list-item-actions>
          <nz-list-item-action><a>編輯</a></nz-list-item-action>
          <nz-list-item-action
            ><a (click)="toDeleteTodo(item.id)">刪除</a></nz-list-item-action
          >
        </ul>
      </ng-container>
    </nz-list-item>
    <nz-list-pagination>
      <nz-pagination
        [nzPageIndex]="1"
        [nzTotal]="50"
        nzShowSizeChanger
      ></nz-pagination>
    </nz-list-pagination>
  </nz-list>
</div>

<nz-modal
  [nzVisible]="isEditorOpen$ | async"
  [nzTitle]="editorTitle$ | async"
  (nzOnCancel)="toCloseEditor()"
>
  <ng-container *nzModalContent>
    <app-todo-form></app-todo-form>
  </ng-container>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="toCloseEditor()">取消</button>
    <button nz-button nzType="primary" type="sbumit" form="todo-form">
      存檔
    </button>
  </div>
</nz-modal>
